<aside class="rightSide ">
<div class="container px-0 ms-0">
    <!-- SEARCH BAR -->
    <%= render "shared/search_tweet"%>
    
    <!-- TRENDING SECTION -->
    <div class="d-grid">
        <h2 class="fs-4">Trends for you</h2>
        <a href="">
        <div class="card text-start text-white" style="background-color:#131313 !important">

            <p class="card-header border-0 mx-1 mb-0 p-1 pb-0" style="font-size:x-small;color:grey;">
                <span>Politics · Trending</span>
            </p>
            <div class="card-body mx-1 py-0 px-1 text-start" style="font-size:smaller;">
                <p class="card-text">
                    <span>Michelle</span>
                </p>
            </div>
            <div class="card-footer border-0 mx-1 mt-0 p-1 pt-0" style="font-size:x-small; color:grey;">
                <span>80.5K posts</span>
            </div>
        </div>
        </a>

    </div>

    <!-- FOOTER SECTION -->
    <%= render "shared/footer" %>
</div>
</aside>